<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adrian.rfidmodule">

    <supports-screens android:anyDensity="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name="android_serialport_api.sample.RWCrashApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>

        <activity
                android:label="@string/app_name"
                android:name="com.byid.android.ByIdActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="android_serialport_api.sample.SerialPortPreferences">
        </activity>
        <activity android:name="android_serialport_api.sample.ConsoleActivity">
        </activity>
        <activity android:name="android_serialport_api.sample.SendingActivity"></activity>
    </application>

</manifest>